<div class="navbar">
	<div class="input">
		<label>Page Limit </label>
		<select class="filter-select" data-filter="limit">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="500">All</option>
		</select>
	</div>
	<div class="input">
		<label>Media Type </label>
		<select class="filter-select" data-filter="type">
			<option value="all">All</option>
			<option value="images">Image</option>
			<option value="audio">Audio</option>
			<option value="video">Video</option>
			<option value="docs">Documents</option>
		</select>
	</div>
	<div class="input">
		<a href="#" class="upload btn btn-success">Upload</a>
		<div id="mediaUploadForm" style="display:none;">
			<form accept-charset="utf-8" method="post" id="MediaAddForm" controller="media_browser" plugin="media" action="/media/media_browser/upload">
				<input type="hidden" value="POST" name="_method">
				<input type="file" id="MediaFiles" multiple="multiple" name="data[Media][files][]">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<div class="media-container">

</div>
