<div class="row clearfix">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#" class="show-upload">Upload</a></li>
		</ul>
		<hr>
		<ul class="filter-select nav nav-pills nav-stacked">
			<li><a href="#" data-type="all" data-filter="type">All</a></li>
			<li><a href="#" data-type="images" data-filter="type">Images</a></li>
			<li><a href="#" data-type="audio" data-filter="type">Audio</a></li>
			<li><a href="#" data-type="videos" data-filter="type">Videos</a></li>
			<li><a href="#" data-type="docs" data-filter="type">Documents</a></li>
		</ul>
		<hr>
		<div class="filter-select">
			<h5>Number to Show </h5>
			<a href="#" data-filter="limit" data-type="10">10</a>, 
			<a href="#" data-filter="limit" data-type="25" data-type="25">25</a>, 
			<a href="#" data-filter="limit" data-type="50" data-type="50">50</a>, 
			<a href="#" data-filter="limit" data-type="100" data-type="25">100</a>, 
			<a href="#" data-filter="limit" data-type="500" data-type="25">All</a>
		</div>
	</div>
	<div class="col-md-9">
		<div class="media-container"></div>
		<div class="upload-container"></div>
	</div>
</div>
<hr>

<button type="button" class="pull-right btn btn-success btn-lg" data-dismiss="modal" aria-hidden="true">Insert</button>

